@model LineaAerea.Models.Avion

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar esto?</h3>
<fieldset>
    <legend>Avion</legend>

    <div class="display-label" style="font-weight: bold">Marca</div>
    <div class="display-field" >@Model.Marca</div>

    <div class="display-label" style="font-weight: bold">Modelo</div>
    <div class="display-field">@Model.Modelo</div>

    <div class="display-label" style="font-weight: bold">CapacidadPasajeros</div>
    <div class="display-field" >@Model.CapacidadPasajeros</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" /> 
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "button" })
    </p>
}


