@{
    ViewBag.Title = "Acerca De";
}

<h2>Acerca De</h2>
<p>
     Con casi 88,000 empleados a nivel mundial, sabemos que nuestra responsabilidad como ciudadanos globales comienza con nuestra gente y se extiende a comunidades alrededor del mundo. La inversión continua que hacemos en prácticas corporativas responsables se manifiesta de diversas formas: desde una gobernanza ética y nuestro compromiso con la diversidad e inclusión, hasta nuestro enfoque en la seguridad, el medio ambiente y en la retribución a nuestras comunidades. Nos esforzamos continuamente por causar un impacto positivo en las vidas de nuestros clientes, empleados, accionistas, así como en las comunidades y entornos en los que vivimos, trabajamos e interactuamos.
Carta del Director Ejecutivo

Tenemos la responsabilidad de generar los mejores resultados posibles para todas nuestras partes interesadas. Nuestro director ejecutivo, Tom Horton, describe cómo las medidas que estamos emprendiendo dentro del marco de nuestro plan estratégico de trabajo no solo nos posicionan para el éxito financiero, sino también nos ayudan a promover un cambio positivo a nivel medioambiental, social y económico. 
</p>
