
@{
    ViewBag.Title = "Inicio";

}

<h2>Bienvenidos a nuestra linea aerea</h2>

<fieldset><p>
   Con casi 88,000 empleados a nivel mundial, sabemos que nuestra responsabilidad como ciudadanos globales<br />
    comienza con nuestra gente y se extiende a comunidades alrededor del mundo. La inversión continua que hacemos<br />
     en prácticas corporativas responsables se manifiesta de diversas formas: desde una gobernanza ética y nuestro<br />
      compromiso con la diversidad e inclusión, hasta nuestro enfoque en la seguridad, el medio ambiente y en la retribución
      <br />
       a nuestras comunidades. Nos esforzamos continuamente por causar un impacto positivo en las vidas de nuestros clientes,<br />
        empleados, accionistas, así como en las comunidades y entornos en los que vivimos, trabajamos e interactuamos.<br />

        <br />

Tenemos la responsabilidad de generar los mejores resultados posibles para todas nuestras partes interesadas.<br />
 Nuestro director ejecutivo, Tom Horton, describe cómo las medidas que estamos emprendiendo dentro del marco de
 <br /> nuestro plan estratégico de trabajo no solo nos posicionan para el éxito financiero, sino también nos ayudan <br />
 a promover un cambio positivo a nivel medioambiental, social y económico. <br />
</p>
<img  style="margin: -100% -20% 0px 780px;" src="../../Logo.png"/>
</fieldset>
