@model IEnumerable<AgenciaDeViaje.Models.Vuelo>
@{
    ViewBag.Title = "BuscarVuelo";
}
<<<<<<< HEAD
=======


@functions{
      
      public static bool disponibilidadVuelos(int idVuelo){
          AgenciaDeViaje.ServicioWeb.ServicioDeComunicacionSoapClient servicio = new AgenciaDeViaje.ServicioWeb.ServicioDeComunicacionSoapClient();
        return servicio.disponbilidadVuelo(idVuelo);
      }
}


>>>>>>> last commit
<h2>Buscar Vuelos</h2>

<div>
@Html.Partial("Ida")
</div>
<div>
@Html.Partial("IdaVuelta")
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> last commit
