@model IEnumerable<AgenciaDeViaje.Models.Vuelo>
@{
    ViewBag.Title = "BuscarVuelo";
}





<h2>Buscar Vuelos</h2>


<div>
@Html.Partial("Ida")
</div>
<div>
@Html.Partial("IdaVuelta")
</div>

       
}
