@if(Session["usuario"]!=null) {
   
   
    <a style="color:Black;">Bienvenido <strong style="color:Black;">@Session["nombre"].ToString()</strong>!
    @Html.ActionLink("Salir", "Salir", "Clients", null, new { @class = "button" })</a>
}
else {
    @:@Html.ActionLink("Ingresar", "IniciarSesion", "Clients", null, new { @class = "button" })
}
