@{
    ViewBag.Title = "Acerca de nosotros";
}
@section header{
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}

<h2>Acerca de nosotros</h2>

<fieldset><p>
    En Aero Caribe, no nos comprometemos solamente a los viajes aéreos.<br />
    También, tenemos una responsabilidad con el mundo bajo nuestras alas— para mejorar las vidas<br />
    de nuestros clientes, tripulantes y comunidades. Este compromiso con la responsabilidad social<br />
    corporativa es nuestra forma de hacer negocios todos los días.
    <br />
     <br />
    Más allá de crear conciencia sobre alguna causa, nos dedicamos a desarrollar sociedades benéficas<br />
    significativas, apoyando las comunidades en las ciudades donde prestamos servicios y creando<br />
    experiencias de voluntariado para nuestros tripulantes y clientes. Trabajamos conjuntamente con<br />
    socios y organizaciones para crear programas que comprometan por completo nuestros recursos y<br />
    conecten nuestras comunidades dentro de las áreas de Juventud y Educación, Comunidad y el Medio<br />
     Ambiente.
    <br />
     <br />
    La responsabilidad social corporativa para Aero Caribe significa más que una donación por única vez<br />
    o un comunicado de prensa. Es la dedicación continua a alinear nuestros esfuerzos para reflejar<br />
    los diversos intereses y valores de nuestra empresa. Constantemente se encuentra esforzándose<br />
    para enriquecer la vida de otros todos los días y sustentar nuestro medio ambiente para futuras<br />
    generaciones.
     <br />
</p>
<img  style="margin: -100% 0% 0px 700px;" src="../../12824620-feliz-grupo-de-personas-que-viajan-en-avion-en-sus-vacaciones.jpg"/>
</fieldset>