@model AgenciaDeViaje.Models.Vuelo
@{
    ViewBag.Title = "Home Page";
}

    <script id="scriptInitial" type="text/javascript">
        $(document).ready(function () {
            $("#tabs").wijtabs();
        });
	</script>

<h2>@ViewBag.Message</h2>

        <div id="tabs" style="width: 300px;">
        <ul>
			<li><a href="#tabs-1">Vuelos</a></li>
           
		</ul>
            <div id="tabs-1">
                <table style="border:hidden" cellpadding="5">
                    <tr>
                        <td colspan="2">
                            <input type="radio" class="radio" name="opt" /><label for="opt">Ida y vuelta</label>
                            <input type="radio" class="radio" name="opt"/><label for="opt">Solo ida</label>
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                         <td>Procedencia:</td>
                         <td><select style="width: 150px">
                         <option>Venezuela</option>
                         <option>Colombia</option>
                         </select></td>
                         
                    </tr>

                    <tr>
                         <td>Destino:</td>
                         <td> <select style="width: 150px">
                         <option>Mexico</option>
                         <option>EE.UU</option>
                         </select></td>
                    
                    </tr>
                    <tr>
                        <td><label>Salida:</label></td>
                       <td> @Html.EditorFor(m=>Model.Salida)</td>
                    
	                
                    </tr>
                    <tr>
                           <td><label>Llegada:</label></td>
                       <td>@Html.EditorFor(m=>Model.Llegada)</td>
                    
                    </tr>
                    
                    <tr><td colspan="2" align="right"><button type="submit" class="btn">Buscar</button></td></tr>
                </table>
            </div>
           
        </div>

       
    
        
    

  


