@model AgenciaDeViaje.Models.Boleto

@{
    ViewBag.Title = "Eliminar Boleto";
}

<h2>Eliminar Boleto</h2>

<h3>Esta Seguro que desea eliminar este boleto?</h3>
<fieldset>
    <legend>Boleto</legend>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
    </p>
}

