@model AgenciaDeViaje.Models.Boleto

@{
    ViewBag.Title = "Lista de Espera";
}

<h2>Lista De Espera</h2>

<h3>No hay asientos disponibles para este vuelo, desea agregarlo a su lista de espera?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Agregar a Lista Espera" /> 
        @Html.ActionLink("Volver", "BuscarVuelo", "Vuelo", new { @class = "button" })
    </p>
}

