@model LineaAerea.Models.Aeropuerto

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea eliminar esto?</h3>
<fieldset>
    <legend>Aeropuerto</legend>

    <div class="display-label" style="font-weight: bold">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label" tyle="font-weight: bold">Lugar</div>
    <div class="display-field">@Model.Lugar</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> 
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "button" })
    </p>
}


