@model LineaAerea.Models.Aeropuerto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Aeropuerto</legend>

    <div class="display-label" tyle="font-weight: bold">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label" tyle="font-weight: bold">Lugar</div>
    <div class="display-field">@Model.Lugar</div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", null, new { id=Model.Id }, new { @class = "button" }) |
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "button" })
</p>

